In [5]:
import pandas as pd

store1 = pd.read_csv('./Datasets/Store1.csv')
store2 = pd.read_csv('./Datasets/Store2.csv')

store1.dtypes

Months              object
Grocery_sales        int64
Stationary_sales     int64
dtype: object

In [18]:
store1

   Months  Grocery_sales  Stationary_sales
0     Jan             16                57
1     Jan             44               139
2     Jan             15                85
3     Jan             59                 8
4     Jan             36               106
5     Jan             27               136
6     Jan             74               116
7     Jan             63               142
8     Jan             65               129
9     Jan             12               138
10    Feb             34               112
11    Feb             73               100
12    Feb             45               135
13    Feb             31                13
14    Feb             61                51
15    Feb             13                26
16    Feb             20               141
17    Feb             18                72
18    Feb             60               134
19    Feb             62                47
20    Feb             56                48
21    Feb             25                75
22    Feb             58                55
23    Feb             10               118
24    Feb             37                14
25    Mar             72                97
26    Mar             48                63
27    Mar             64                54
28    Mar             14                78
29    Mar             51               104
30    Mar             30               133
31    Mar             38                 7
32    Mar             68                29
33    Mar             66                80
34    Mar             41                16
35    Mar             54               111
36    Mar             46               147
37    Mar             43               137
38    Mar             35                 6
39    Mar             55                50
40    Mar             19                34
41    Mar             23                56
42    Mar             28                73
43    Mar             53                69
44    Mar             57               124
45    Mar             39                12
46    Mar             11                86
47    Mar             47                41
48    Mar             52                68
49    Mar             29               113

In [26]:
store1_sales_by_kind = store1[['Grocery_sales', 'Stationary_sales']].sum()
store1_total_sales = store1_sales_by_kind.sum()

store2_sales_by_kind = store2[['Grocery_sales', 'Stationary_sales']].sum()
store2_total_sales = store2_sales_by_kind.sum()

print(store1_total_sales > store2_total_sales)
#Store 1 had greater sales

True

In [28]:
store1_sales_by_kind['Grocery_sales'] > store2_sales_by_kind['Grocery_sales']
#Store 2 had greater Grocery Sales

False

In [43]:
store1_monthly_sales = store1.groupby('Months').sum().sum(axis=1)
store2_monthly_sales = store2.groupby('Months').sum().sum(axis=1)
store2_monthly_sales

# print(store1_march_sales.gt(store2_march_sales))
# # Store 1 had higher overall march sales

Months
Feb    2050
Jan    1419
Mar    2378
dtype: int64

In [53]:
stor1_gt = store1['Stationary_sales'].gt(store2['Stationary_sales'], axis=0).sum()